### Importação dos dados

In [23]:
import pandas as pd

url1 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_1.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_4.csv"

##Funções e variávies globais

In [25]:
loja1 = pd.read_csv(url1)
loja2 = pd.read_csv(url2)
loja3 = pd.read_csv(url3)
loja4 = pd.read_csv(url4)

lojas = {
    'Loja 1': loja1,
    'Loja 2': loja2,
    'Loja 3': loja3,
    'Loja 4': loja4
}

def ordenar(dict_ordenar):
    return dict(sorted(dict_ordenar.items(), key=lambda item: item[1], reverse=True)) # Ordena do maior para o menor

#1. Análise do faturamento

In [47]:
def calcular_faturamento(df):
  df['Faturamento'] = df['Preço'] + df['Frete']
  return df['Faturamento'].sum()

def impressao_faturamento_loja(nome_loja, faturamento):
  print(f'O faturamento da {nome_loja} foi de R${faturamento:.2f}')

faturamentos = {nome_loja: calcular_faturamento(df) for nome_loja, df in lojas.items()}

faturamentos_ordenados = ordenar(faturamentos)

print("1. Análise do faturamento", end='\n'*2)
for nome_loja, faturamento in faturamentos_ordenados.items():
  impressao_faturamento_loja(nome_loja, faturamento)

1. Análise do faturamento

O faturamento da Loja 1 foi de R$1616347.09
O faturamento da Loja 2 foi de R$1567773.22
O faturamento da Loja 3 foi de R$1542047.69
O faturamento da Loja 4 foi de R$1458253.46

De acordo com as análises verifica-se que a 'Loja 1' apresenta o maior faturamento, enquanto a 'Loja 4' o menor faturamento.

# 2. Vendas por Categoria

In [45]:
def calcular_vendas_por_categoria(df):
  return df.groupby('Categoria do Produto').size().sort_values(ascending=False)

def impressao_categoria(nome_loja, vendas):
  print(f"{nome_loja}: {vendas}")

vendas_por_categoria = {nome_loja: calcular_vendas_por_categoria(df) for nome_loja, df in lojas.items()}

print("2. Análise de Vendas por Categoria por Loja:", end='\n'*2)
for nome_loja, vendas in vendas_por_categoria.items():
  impressao_categoria(nome_loja, vendas)
  print("\n")

2. Análise de Vendas por Categoria por Loja:

Loja 1: Categoria do Produto
moveis                   465
eletronicos              448
brinquedos               324
eletrodomesticos         312
esporte e lazer          284
instrumentos musicais    182
livros                   173
utilidades domesticas    171
dtype: int64


Loja 2: Categoria do Produto
moveis                   442
eletronicos              422
brinquedos               313
eletrodomesticos         305
esporte e lazer          275
instrumentos musicais    224
livros                   197
utilidades domesticas    181
dtype: int64


Loja 3: Categoria do Produto
moveis                   499
eletronicos              451
brinquedos               315
eletrodomesticos         278
esporte e lazer          277
livros                   185
instrumentos musicais    177
utilidades domesticas    177
dtype: int64


Loja 4: Categoria do Produto
moveis                   480
eletronicos              451
brinquedos               338
esporte e lazer          277
eletrodomesticos         254
utilidades domesticas    201
livros                   187
instrumentos musicais    170
dtype: int64

De acordo

# 3. Média de Avaliação das Lojas

In [49]:
def calcular_media_avaliacao(df):
    return df['Avaliação da compra'].mean()

def impressao_media_avaliacao_loja(nome_loja, media_avaliacao):
    print(f"{nome_loja}: {media_avaliacao:.2f}")

avaliacoes_medias = {nome_loja: calcular_media_avaliacao(df) for nome_loja, df in lojas.items()}
avaliacoes_medias_ordenadas = ordenar(avaliacoes_medias)

print("3. Análise da Média de Avaliação por Loja:", end='\n'*2)
for nome_loja, avaliacao_media in avaliacoes_medias_ordenadas.items():
    impressao_media_avaliacao_loja(nome_loja, avaliacao_media)
print("\n")

3. Análise da Média de Avaliação por Loja:

Loja 3: 4.05
Loja 2: 4.04
Loja 4: 4.00
Loja 1: 3.98

De acordo com as análises verifica-se que a 'Loja 3' apresenta a maior média de Avaliação, enquanto a 'Loja 1' a menor menor média de Avaliação.

# 4. Produtos Mais e Menos Vendidos

# 5. Frete Médio por Loja